.first-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 5px;

  width: 100%;

  &__label {
    font: {
      size: 0.875em;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: 1;

    margin-bottom: 2px;
  }

  &__input {
    font: {
      size: 1.250em;
      weight: 900;
      family: $main-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    width: 100%;

    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #fff;

    outline: none;
    cursor: text;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
  }

  &__required {
    display: none;
  }
}
