html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: $main-font;
  color: #000;
  background-color: #fff;

  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;

  font-size: 0;
  line-height: 0;
}
