.index-promo {
  width: 100%;

  &__description {
    font: {
      size: 1.063em;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: 1;
    text-align: center;

    width: 310px;

    margin-bottom: 0;
    margin-top: 8px;
  }
}
