.reg-second {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 8px;
}

@media (min-width: $smartphones) {
  .reg-second {
    margin-top: 24px;
  }
}

@media (min-width: $wsvga) {
  .reg-second {
    margin-top: 30px;
  }
}
