$phones: 320px;
$smartphones: 360px;
$tablets: 768px;
$laptop: 1024px;
$netbooks: 1280px;
$wide-netbooks: 1366px;
$notebooks: 1440px;
$widebooks: 1600px;
$hd: 1920px;
$fhd: 2560px;

/*Fonts*/
$primary-color: #000;
$secondary-color: #893b67;
$main-font: "Gotham", sans-serif;

$text-black: #000000;
$text-white: #ffffff;
$yellow-hover: #f8eb21;

$menu-bg: #f8eb21;
$menu-active: #e15998;

$header-bg: #ff6700;
$yellow-bg: #f8eb21;
$free-bg: #a2d9d1;
$submit-btn: #ff6700;
$footer-bg: #0b0a0a;
$about-btn: #ff6700;
$youtube-btn: #ff0000;


@media (min-width: $laptop) {

}

@media (min-width: $netbooks) {

}
@media (min-width: $wide-netbooks) {

}

@media (min-width: $notebooks) {

}

@media (min-width: $widebooks) {

}

@media (min-width: $hd) {

}

@media (min-width: $fhd) {

}
