.show-wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;
}

@media (min-width: $laptop) {
  .show-wrapper {
    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 230px;
      height: 192px;

      background-image: url('../img/paw-logo.svg');
      background-repeat: no-repeat;
      background-size: 230px 192px;

      top: 15%;
      left: 2%;
    }
  }
}

@media (min-width: $wide-netbooks) {
  .show-wrapper {
    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 287px;
      height: 240px;

      background-image: url('../img/paw-logo.svg');
      background-repeat: no-repeat;
      background-size: 287px 240px;

      top: 15%;
      left: 2%;
    }
  }
}

@media (min-width: $widebooks) {
  .show-wrapper {
    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 367px;
      height: 305px;

      background-image: url('../img/paw-logo.svg');
      background-repeat: no-repeat;
      background-size: 367px 305px;

      top: 18%;
      left: 8%;
    }
  }
}
